# where your *.vmwarevm live
vm_dir: "/Users/username/Documents/Virtual_Machines/"
vmrun_bin: "/Applications/VMware Fusion.app/Contents/Library/vmrun"
# vm guest iso directory (contain linux.iso, darwin.iso, and windows.iso)
guest_iso: "/Applications/VMware Fusion.app/Contents/Library/isoimages/"
plist_file: "/Users/username/Library/Preferences/com.vmware.fusion.plist"
gui_bin: "/Applications/VMware Fusion.app/Contents/MacOS/VMware Fusion"